* {
    margin: 0;
    padding: 0;
    font-family: Proxima Nova Alt;
    font-weight: bold;

}

body {
    background-color: #05386B;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px;
    max-height: 1300px;
    padding : 50px;
    justify-content: space-evenly;
    font-size: 1.7em;
    text-align: justify;
    align-content: center;

}

.container div {
    color: #05386B;
    background-color: #5CDB95;
    margin: 1em;
    width: 23em;
    padding: 40px;

}

/* NavBar */

nav {
    background-color: #05386B;
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    color: #05386B;
    height: 50px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: center;
    padding-top: 1.5em;
}

nav ul a {
    margin-left: 4.5em;
    text-decoration: none;
    font-size: 1.5em;
    color: #5CDB95;
}


nav ul li a:hover {
    color: #EDF5E1;
}

/* Responsive */

@media (max-width: 768px){
    * {
        margin: 0;
        padding: 0;
        font-family: Proxima Nova Alt;
        font-weight: bold;
    
    }
    
    body {
        background-color: #05386B;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 10px;
        max-height: 1300px;
        padding : 50px;
        justify-content: space-evenly;
        font-size: 1.3em;
        text-align: justify;
        align-content: center;
    
    }
    
    .container div {
        color: #05386B;
        background-color: #5CDB95;
        margin: 1em;
        width: 23em;
        padding: 30px;
    
    }
    
    /* NavBar */
    
    nav {
        background-color: #05386B;
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0;
        color: #05386B;
        height: 50px;
        align-items: center;
    }
    
    nav ul {
        display: flex;
        list-style: none;
        width: 40%;
        padding-top: 1.0em;
        margin-right: 12.5em;
    }
    
    nav ul a {
        text-decoration: none;
        font-size: 1.5em;
        color: #5CDB95;
    }
    
    
    nav ul li a:hover {
        color: #EDF5E1;
    }
    
    /* Responsive */
}

@media (max-width: 576px) {
    * {
    margin: 0;
    padding: 0;
    font-family: Proxima Nova Alt;
    font-weight: bold;

}

body {
    background-color: #05386B;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10;
    max-height: 1300px;
    padding : 20px;
    justify-content: space-evenly;
    font-size: 1.4em;
    text-align: justify;
    align-content: center;

}

.container div {
    color: #05386B;
    background-color: #5CDB95;
    margin: 1em;
    width: 10em;
    padding: 1em;

}

/* NavBar */

nav {
    background-color: #05386B;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    color: #05386B;
    height: 50px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    padding-top: 1em;
    margin-right: 9em;
}

nav ul a {
    text-decoration: none;
    font-size: 1.5em;
    color: #5CDB95;
}


nav ul li a:hover {
    color: #EDF5E1;
}

/* Responsive */
}