* {
    margin: 0;
    padding: 0;
    font-family: Proxima Nova Alt;
    font-weight: bold;
}

body {
    background-color: #5CDB95 ;
}

.container-upper {
    display: flex;
    background-color: #5CDB95;
    max-width: 100%;
    height: 400px;
    margin: 30px auto;
    justify-content: space-around;
}


.container-bottom {
    display: flex;
    flex-wrap: wrap;
    background-color: #05386B;
    max-height: 1000em;
    color: #EDF5E1;
    padding: 5em;
    justify-content: center;
}

.Name {
    margin-right: 18em;
}

.Desc {
    padding: 1em;
    width: 27em;
    font-size: 1.7em;
    margin: auto;
    text-align: justify;
}

.Instagram {
    font-size: 1.5em;
}


.container-bottom .Riwayat {
    background-color: #5CDB95;
    color: #05386B;
    padding: 3em;
    height: 18em;
    width: 15em;
    text-align: right;

}



/* NavBar */

nav {
    background-color: #5CDB95;
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    height: 50px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: center;
    padding-top: 1.5em;
}

nav ul a {
    margin-left: 4.5em;
    text-decoration: none;
    font-size: 1.5em;
    color: #05386B;
}

nav ul li a:hover {
    color: #EDF5E1;
}


/* Responsive */
@media (max-width:768px){

    * {
        margin: 0;
        padding: 0;
        font-family: Proxima Nova Alt;
        font-weight: bold;
    }
    
    body {
        background-color: #5CDB95 ;
    }
    
    .container-upper {
        display: flex;
        background-color: #5CDB95;
        max-width: 100%;
        height: 400px;
        margin: 30px auto;
        justify-content: space-around;
    }
    
    
    .container-bottom {
        display: flex;
        flex-wrap: wrap;
        background-color: #05386B;
        max-height: 1000em;
        color: #EDF5E1;
        padding: 5em;
        justify-content: center;
    }

    .container-upper .ProfPic {
        margin-left: 9em;
        padding: 2em;
    }
    
    .Name {
        padding: 3em;
        margin-right: 10em;
    }
    
    .Desc {
        padding: 1em;
        width: 27em;
        font-size: 1.6em;
        margin: auto;
        text-align: justify;
    }
    
    .Instagram {
        padding: 1em;
        font-size: 1.5em;
        text-align: center;
    }
    
    
    .container-bottom .Riwayat {
        background-color: #5CDB95;
        color: #05386B;
        padding: 3em;
        height: 18em;
        width: 15em;
        text-align: right;
        margin: 1em;
    
    }
    
    
    
    /* NavBar */
    
    nav {
        background-color: #5CDB95;
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0;
        height: 50px;
        align-items: center;
    }
    
    nav ul {
        display: flex;
        list-style: none;
        width: 40%;
        padding-top: 1em;
        margin-right: 6em;
        
    }
    
    nav ul a {
        text-decoration: none;
        font-size: 1.8em;
        color: #05386B;
    }
    
    nav ul li a:hover {
        color: #EDF5E1;
    }



@media (max-width:576px){

    .container-upper {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: 100%;
        margin: 3em;
        justify-content: space-around;
    }
    
    
    .container-bottom {
        display: flex;
        flex-wrap: wrap;
        background-color: #05386B;
        max-height: 1000em;
        color: #EDF5E1;
        padding: 5em;
        justify-content: center;
        
    }

    .container-upper .ProfPic {
        padding: 2em;
        margin: auto;
    }
    
    .Name {
        text-align: center;
        margin: auto;
    }
    
    .Desc {
        padding: 1em;
        width: 27em;
        font-size: 1.3em;
        margin: auto;
        text-align: justify;
    }
    
    .Instagram {
        padding: 1em;
        text-align: center;
        font-size: 1.5em;
    }
    
    
    .container-bottom .Riwayat {
        background-color: #5CDB95;
        color: #05386B;
        padding: 3em;
        height: 18em;
        width: 15em;
        text-align: center;
    
    }
    
    
    
    /* NavBar */
    
    nav {
        background-color: #5CDB95;
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0;
        height: 50px;
        align-items: center;
    }
    
    nav ul {
        display: flex;
        list-style: none;
        width: 40%;
        padding-top: 1em;
        margin-right: 6em;
        
    }
    
    nav ul a {
        text-decoration: none;
        font-size: 1.5em;
        color: #05386B;
    }
    
    nav ul li a:hover {
        color: #EDF5E1;
    }

}