<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Profil</title>
</head>
<body>
    {% include 'main/navbar.html'%}
    <div class="container-upper">
        <div class="ProfPic">
            <img src="{% static '/img/fotoCropped.jpg' %}" height="330px"; alt="Profile Picture">
        </div>
        <div class="Name">
            <h1 style="color: #EDF5E1; font-size: 3em;">Fariz Wahyuzan Dwitilas</h1>
            <br>
            <br>
            <br>
            <br>
            <h2 style="color: #EDF5E1;">Fasilkom UI 2019</h2>
            <h2 style="color: #EDF5E1;">1906399511</h2>
        </div>
        
    </div>

    <div class="container-bottom">
        <div class="Desc">
            <p>Anak kedua dari dua bersaudara, penghobi sepak bola dan 
                musik, penggemar klub FC Barcelona dan band rock-alternative
                Linkin Park. Saat ini menjadi pemain French Horn di UKM
                Orkestra Universitas Indonesia, OSUI Mahawaditra. </p>
        </div>
            <div class= "Riwayat">
                <h2>RIWAYAT PENDIDIKAN</h2>
                <br>
                <h3>2007-2013</h3>
                <h3>SDN Batan Indah</h3>
                <br>
                <h3>2013-2016</h3>
                <h3>SMPN 8 Tangerang Selatan</h3>
                <br>
                <h3>2016-2019</h3>
                <h3>SMAN 2 Tangerang Selatan</h3>
            </div>
            <div class="Instagram">
                <a href="https://www.instagram.com/farizwhyzn/" target="_blank" style="text-decoration: none; color: #5CDB95;">INSTAGRAM @FARIZWHYZN</a>
            </div>
    </div>
</body>
</html>