<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <title>Lainnya</title>
</head>
<body>
    {% include 'main/navbar.html'%}

    <h1 style="text-align: center; margin-top: 2.5em;
    font-size: 2.5em; color: #EDF5E1;">Quotes of the Day</h1>

    <div class="container">
        <div class="qotd1" style="color: #EDF5E1;">“Live as if you were to die tomorrow. Learn as if you were to live forever.” - Mahatma Gandhi</div>
        <div class="qotd2" style="color: #EDF5E1;">“If you can do what you do best and be happy, you’re further along in life than most people.” - Leonardo DiCaprio</div>
        <div class="qotd3">“Don’t cry because it’s over, smile because it happened.” - Dr. Seuss</div>
        <div class="qotd4" style="color: #EDF5E1;">“If you love life, don’t waste time, for time is what life is made up of.” - Bruce Lee</div>
        <div class="qotd5" style="color: #EDF5E1;">"Don’t count the days, make the days count." - Muhammad Ali</div>
    </div>
    
</body>
</html>