<!DOCTYPE html>
<html lang="en">
    <nav>
        <ul>
            <li><a href="{% url 'main:home'%}">Profil</a></li>
            <li><a href="{% url 'main:lainnya'%}">Lainnya</a></li>
            <li><a href="http://fariz-story1.herokuapp.com/">Story 1</a></li>
        </ul>
    </nav>
</html>